




<ul class="list-group">
  <li class="list-group-item active">Your Dates</li>
  {{#each dates}}
	  <li class="list-group-item">
	  	<span contenteditable=true id="city_{{@index}}">{{city_name}}</span>
	    <div>{{date_format}}</div>
	    <div>
	        <span class="clickyActionIcon" onclick="generateHotelList('{{@index}}')">Hotel</span>
	        <span class="clickyActionIcon" onClick="restaurantDetailSelected('{{@index}}')">Restaurants</span>
	        <span class="clickyActionIcon" onClick="pointOfInterestDetailSelected('{{@index}}')">Events</span>    
	    </div>
	    <div><span>Your Hotel:</span><span>Please Select</span></div>
	    <div><span>Dining:</span><span>Please Select</span></div>
	    <div><span>Point of interest:</span><span>Please Select</span></div>
		</li>
	{{/each}}
</ul>
