




<ul class="list-group">
  <li class="list-group-item active">Your Dates</li>
  {{#each dates}}
	  <li class="list-group-item">
	    <div>{{date_format}}</div>
	    <div>
	        <span class="clickyActionIcon" onclick="generateHotelList('{{city_name}}')">Hotel</span>
	        <span class="clickyActionIcon" onClick="restaurantDetailSelected('{{city_name}}')">Restaurants</span>
	        <span class="clickyActionIcon" onClick="pointOfInterestDetailSelected('{{city_name}}')">Events</span>    
	    </div>
	    <div><span>Your Hotel:</span><span>Please Select</span></div>
	    <div><span>Dining:</span><span>Please Select</span></div>
	    <div><span>Point of interest:</span><span>Please Select</span></div>
		</li>
	{{/each}}
</ul>
